@import "../../styles/variables";

.monthDays {
  width: calc(100%/8);
  height: 50px;
  color: $primary-color;
  font: 16px 400 $primary-font-family;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 50px;
}